#events-content,#rec-content,#dir-content,#gator-times-content{
  background-color: #fff;
  height: 70%;
  overflow: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}
h4{
  font-size: 1.5em;
  font-weight: 200;
  color: #d84315;
  position: absolute;
  right:1em;
}

#gator-times-content{
  column-count: 2;
  column-fill: auto;
}
#gator-times-content h1{
  color: #084b81;
  font-weight: 200;
  }
#events-content h1{
  color: #db662c;
  font-weight: 200;
}
h2{
  color: #084b81;
  font-weight: 200;
}
h3{
  font-size: 1.5em;
  color: #db662c;
}
.gator-logo{
  position: absolute;
  float:left;
  height: 5em;
  padding: 0;
  margin: 0;
}
.card{
  position: relative;
  left: 2em;
  width: 95% ;
}

.tabs .tab a{
  color: #084b81;
  background-color: #fff;
}

.tabs .tab a.active{
  color: #084b81;
  background-color: #fff;

}
.tabs .tab a:hover{
  color: #db662c;
  background-color: rgba(100,100,66,.10);
}
.tabs .indicator{
  background-color: #db662c;
}
.carousel{
  height: 90% !important;
}
.carousel .carousel-item {
  width: 100%;
}
h1 a{
  float: right;
  right: 3em;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 50px;
  background: #084b81;
  border-top: 4px solid #db662c;
  z-index: 10;
}
#eventsData img{

}
