
.reframe img {
    position: relative;
    float: left;
    width: auto;
	max-width:450px; 	
    height: 220px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
} 

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom:10em;
  box-sizing: border-box; }

 .columns {
    float: left;
    padding: 10px;
}	
  .three.columns                  { float:left; margin-left:8%; width:42%;  margin-bottom:4em;        }
  .nine.columns                   { float: right; width: 45.0%;          }

  .one-third.column               { width: 50%; }
  .two-thirds.column              { width: 50%; }

.testimonials{position:relative;}

.contactus{
	padding:50px 5px 12px;
	text-align:center;
	background:#7cc576;
	color:#fff;	
	margin-top:0em;
}
.contactus h2{text-transform:uppercase;}
.contactus a{
	padding:12px 0px;
	max-width:170px;
	text-align:center;
	color:#fff;
	border:3px solid #fff;
	border-radius:5px;	
	text-decoration:none;
	margin:20px auto 0;
	display:block;
	font-size:18px;
	font-weight:700;
}
.contactus a:hover{
	background:#fff;
	color:#7cc576;
	transition:all 0.5s;	
}
